#transcription-final,
#chatbox {
  font-size: 11px;
  color: #5e5e5e;
  max-height: 400px;
  text-align: left;
}
#transcription-final p {
  margin: 1px;
}
#transcription-final {
  color: #000;
  overflow-y: scroll;
}

/* Overlay to gray out everything */
#browser-error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.6);
  z-index: 9998;
}

/* Centered error box */
#browser-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.error-window-body {
  display: flex;
  gap: 10px;
  text-align: center;
  font-size: 13px;
}
.error-window-body img {
  align-self: center;
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

#chatbox-text {
  width: calc(100% - 95px);
}
#send-button {
  width: 4%;
  height: 21px;
}

.bad-word {
  color: darkred;
  font-weight: bold;
}

#main-window-body {
  height: calc(100vh - 86px);
}
